* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: black;
    color: white;
    align-items: center;    
}

.logo p{
    font-size: 23px;
    margin: 10px;
}

.carrinho{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: rgb(73, 74, 74);
    border-radius: 15px;
    margin: 15px;
}
.carrinho svg{
    margin:10px;
}

.tudo{
    background-color: #F0F0F0;
    
}

.hero{
    display: flex;
    justify-content: center;

}

h1{
    margin: 30px;
}

.post{
    width: 20%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
    border-radius:  5px;
    align-items: center;
    height: 460px;
    

}
.maior{
    font-size: 16px;
}
.menor{
    font-size: 10px;
}
.star{
    font-size: 13px;
}
.post img{
    width: 200px;
    height: 205px;

}

.content{
    width: 200px;
}

button{
    width: 200px;
}